<%- include('../partials/header', { title: 'Create New Blog' }) %>

<div class="d-flex justify-content-between p-2">
  <h1 class="mb-4 h3">Admin - Create new Blog</h1>
  <div>
    <a href="/admin/blogs" class="btn btn-sm btn-secondary mb-3"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
  </div>
</div> 


  <form action="/admin/blogs/new" method="POST">
    <div class="mb-3">
      <label for="title" class="form-label">Title:</label>
      <input type="text" name="title" class="form-control" id="title" required>
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">Content:</label>
      <textarea name="content" class="form-control" id="content" required></textarea>
    </div>
    <div class="mb-3">
      <label for="status" class="form-label">Status:</label>
      <select name="status" class="form-select" id="status" required>
        <option value="draft">Draft</option>
        <option value="publish">Publish</option>
      </select>
    </div>
    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Create</button>
  
  </form>

  <%- include('../partials/footer') %>