<%- include('../partials/header', { title: 'Register' }) %>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-4 mx-auto bg-light p-4">
      <h1 class="text-center h3 my-2">Register</h1>
      <div id="errorMessage" class="text-danger text-center"></div>

      <form id="registerForm" class="mt-4">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" name="username" id="username" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" name="email" id="email" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" name="password" id="password" class="form-control" required>
        </div>
        <button type="submit" class="w-100 btn my-2 btn-primary">Register</button>
      </form>
      <div class="my-2 text-center">
        <a href="/user/login">Login Here</a>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer') %>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
  $('#registerForm').on('submit', function(event) {
    event.preventDefault();

    const username = $('#username').val();
    const email = $('#email').val();
    const password = $('#password').val();

    $.ajax({
      type: 'POST',
      url: '/user/register',
      data: JSON.stringify({ username: username, email: email, password: password }),
      success: function(data) {
        if (data.success) {
          window.location.href = '/user/login'; // Redirect to login page after successful registration
        } else {
          $('#errorMessage').text(data.message);
        }
      },
      error: function(xhr, status, error) {
        console.error('Error:', error);
        $('#errorMessage').text('Failed to register. Please try again.');
      }
    });
  });
});
</script>
