<%- include('../partials/header', { title: 'user Settings' }) %>

    <h1>user Settings</h1>

    <form action="/user/settings" method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control form-control-sm" id="username" name="username"
                value="<%= user.username %>" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control form-control-sm" id="email" name="email" value="<%= user.email %>"
                required>
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>


    <%- include('../partials/footer') %>